/*-------- nav bar responsive  ---- */
@media (max-width: 1400px) {
  .container {
    width: 1320px;
  }
  .map {
    position: fixed;
    bottom: 50px;
    left: 625px;
}
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .container {
    width: 1128px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 1128px;
  }
  .navbar2-icon {
    column-gap: 6px;
  }
  .nav2-btn-box {
    width: 59px;
    height: 26px;
  }
  .nav2-btn-box1 {
    width: 18px;
    height: 19px;
    top: 3px;
    left: 3px;
  }
  .nav-design {
    column-gap: 45px;
  }
  .main-box {
    width: calc(33% - 24px);
    margin: 0px 12px;
    margin-bottom: 50px;
  }
  /* flex-direction: column; */
  .tail-body3 {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
  .map {
    position: fixed;
    bottom: 50px;
    left: 470px;
}
}

@media (min-width: 992px) and (max-width: 1128px) {
  .container {
    width: 950px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 950px;
  }
  .nav-design {
    column-gap: 25px;
}
.nav-user-world {

  width: 40px;
  height: 40px;
}
.nav-search {
  width: 300px;
}
.main-box {
  width: calc(50% - 24px);
}
.map {
  position: fixed;
  bottom: 30px;
  left: 420px;
}
}

@media (min-width: 769px) and (max-width: 950px) {
  .container {
    width: 744px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 744px;
  }
  .icom{
    display: none;
  }
  .nav-user-text1 {
    display: none;
}
.nav-user-world {
  display: none;
}
.nav-user-box svg{
  display: none;
}
.nav-user-bar{
  display: none;
}
.nav-user-box {
  column-gap: 0px;
  width: 55px;
}
.nav-design{
  display: none;
}
.nav-search-text1 {
  display: none;
}
.nav-search {
  display: flex;
  width: 380px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.nav-search-text2 {
  display: none;
}
.nav-search-text3 {

  display: none;
}
}
@media (min-width: 577px) and (max-width: 744px) {
  .container {
    width: 550px;
  }
}
@media (max-width: 576px) {
  .container {
    width: auto;
  }
}
