body{
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-family: "Hind", serif;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.65);
}
.header-top {
    background: #222328;
    color: #919194;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.nav-color {
    background: #222328;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.hero-bg {
    background-image: url('https://demo.themefisher.com/megakit-bootstrap/images/bg/home-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.overlay {
    background: rgba(0, 0, 0, 0.5); /* Overlay to darken the background image */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #242424;
}
.text-color-red {
    color: #f75757;
}
.background {
    background-image: url('https://demo.themefisher.com/megakit-bootstrap/images/bg/home-5.jpg');
    background-size: cover;
    background-position: center;
}
.latest-blog {
    position: relative;
    padding-bottom: 150px;
}
.latest-blog::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.mar-70{
    margin-top: -70px;
}
a {
    color: #242424;
    text-decoration: none;
}
a:hover{
    color: #f75757;
}
.logo {
    color: #242424;
    font-weight: 600;
    letter-spacing: 1px;
}
.logo span{
    color: #f75757;
}
.text-color{
    color: rgba(0, 0, 0, 0.65);
}
