<form action="/submitForm">
    name : <input type="text" name="name"><br>
    email : <input type="text" name="email"><br>
    <input type="submit" value="submit">
</form>

<table>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>action</td>
    </tr>
    <% for(var i=0; i < data.length; i++) { %>
    <tr>
        <td><%= data[i].name %></td>
        <td><%= data[i].email %></td>
        <td><a href="/editData?edit=<%= data[i]._id %>">Edit</a> | <a href="/deleteData?delete=<%= data[i]._id %>">Delete</a></td>    
    </tr>
    <% } %>
</table>    